# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [186]:
import numpy as np
import pandas as pd

In [56]:
data = np.loadtxt('./data/sp500hst.txt', dtype='str', delimiter=',')
sp500hst = pd.DataFrame(data, columns=['date', 'ticker', 'open', 'high', 'low', 'close', 'volume'])

sp500hst = sp500hst.astype(
    {'open':'float',
    'high':'float',
    'low':'float',
    'close':'float',
    'volume':'int32'}
)

sp500hst['date'] = pd.to_datetime(sp500hst['date'])

print(sp500hst)

             date ticker   open     high     low  close  volume
0      2009-08-21      A  25.60  25.6100  25.220  25.55   34758
1      2009-08-24      A  25.64  25.7400  25.330  25.50   22247
2      2009-08-25      A  25.50  25.7000  25.225  25.34   30891
3      2009-08-26      A  25.32  25.6425  25.145  25.48   33334
4      2009-08-27      A  25.50  25.5700  25.230  25.54   70176
...           ...    ...    ...      ...     ...    ...     ...
122569 2010-08-13    ZMH  51.72  51.9000  51.380  51.44   14561
122570 2010-08-16    ZMH  51.13  51.4700  50.600  51.00   13489
122571 2010-08-17    ZMH  51.14  51.6000  50.890  51.21   20498
122572 2010-08-19    ZMH  51.63  51.6300  50.170  50.22   18259
122573 2010-08-20    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [3]:
print('среднее значение для столбца "high": '+str(sp500hst.high.mean()))
print('среднее значение для столбца "low": '+str(sp500hst.low.mean()))
print('среднее значение для столбца "close": '+str(sp500hst.close.mean()))
print('среднее значение для столбца "volume": '+str(sp500hst.volume.mean()))

среднее значение для столбца "high": 43.102243387667855
среднее значение для столбца "low": 42.05446366521448
среднее значение для столбца "close": 42.60186484817335
среднее значение для столбца "volume": 81395.06813843067

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [196]:
pd.concat([sp500hst, sp500hst.date.dt.month], axis=1)

             date ticker   open     high     low  close  volume  date
0      2009-08-21      A  25.60  25.6100  25.220  25.55   34758     8
1      2009-08-24      A  25.64  25.7400  25.330  25.50   22247     8
2      2009-08-25      A  25.50  25.7000  25.225  25.34   30891     8
3      2009-08-26      A  25.32  25.6425  25.145  25.48   33334     8
4      2009-08-27      A  25.50  25.5700  25.230  25.54   70176     8
...           ...    ...    ...      ...     ...    ...     ...   ...
122569 2010-08-13    ZMH  51.72  51.9000  51.380  51.44   14561     8
122570 2010-08-16    ZMH  51.13  51.4700  50.600  51.00   13489     8
122571 2010-08-17    ZMH  51.14  51.6000  50.890  51.21   20498     8
122572 2010-08-19    ZMH  51.63  51.6300  50.170  50.22   18259     8
122573 2010-08-20    ZMH  50.03  50.5500  49.480  49.82   17792     8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [5]:
pd.concat([sp500hst.ticker, sp500hst.volume], 1).groupby('ticker').sum()

/var/folders/x_/c8gn0yln5gn3kbdg4w8164t40000gn/T/ipykernel_985/2253937643.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd.concat([sp500hst.ticker, sp500hst.volume], 1).groupby('ticker').sum()

          volume
ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
...          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916

[524 rows x 1 columns]

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [45]:
decode_data = np.loadtxt('./data/sp_data2.csv', dtype='str', delimiter=';')
decode_dict = pd.Series(decode_data[:, 1], index=decode_data[:, 0])
decode_col = decode_dict.get(sp500hst.ticker, 0)
decode_col

0

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [400]:
recipes = pd.read_csv('./data/recipes_sample.csv', delimiter=',')
reviews = pd.read_csv('./data/reviews_sample.csv', delimiter=',', index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [288]:
pd.DataFrame(
    [[recipes.shape[0], recipes.shape[1], recipes.dtypes],
    [reviews.shape[0], reviews.shape[1], reviews.dtypes]], 
    columns=['rows', 'columns', 'dtype'], 
    index=['recipes', 'reviews'])

           rows  columns                                              dtype
recipes   30000        8  name               object
id                  ...
reviews  126696        5  user_id       int64
recipe_id     int64
date  ...

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [289]:
print('recipes\n')
print((recipes.isna()*1)[recipes.columns].sum()/len(recipes))
print('\nreviews\n')
print((reviews.isna()*1)[reviews.columns].sum()/len(reviews))

recipes

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64

reviews

user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [290]:
print('средняя оценка: '+str(reviews.rating.mean()))
print('среднее количество минут: '+str(recipes.minutes.mean()))
print('среднее количество шагов: '+str(recipes.n_steps.mean()))
print('среднее количество ингредиентов: '+str(recipes.n_ingredients.mean()))

средняя оценка: 4.410802235271832
среднее количество минут: 123.35813333333333
среднее количество шагов: 9.805582137161085
среднее количество ингредиентов: 9.008285984848484

1.5 Создайте серию из 10 случайных названий рецептов.

In [291]:
pd.Series(recipes.name[np.random.choice(len(recipes), 10, replace=False)])

683                                amy s chicken casserole
8327                  creamy penne pasta with ham and peas
26348                     sun dried tomato and parsley dip
26237                sue s ultra light pumpkin chiffon pie
4707     caramelized squash salad with pistachios and g...
26655                                   sweet chilli sauce
18239                                     muffin frittatas
5119                                cheese and spinach pie
12791                  grilled asparagus with caper butter
19450                                         oreo dessert
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [428]:
reviews.reset_index(inplace=True, drop=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [293]:
recipes[(recipes.minutes < 21) & (recipes.n_ingredients < 6)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [421]:
recipes.submitted = pd.to_datetime(recipes.submitted)
recipes.submitted

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [295]:
recipes[recipes.submitted.dt.year < 2011]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [296]:
pd.concat([recipes, recipes.description.str.len()], axis=1)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [297]:
recipes.name = recipes.name.str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [298]:
pd.concat([recipes, recipes.name.str.split().str.len()], axis=1)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [299]:
recipes_amount = recipes.groupby('contributor_id')['id'].count()
recipes_amount[recipes_amount.max()==recipes_amount]

contributor_id
89831    421
Name: id, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [311]:
print('отзывы отсутствуют для '+str((reviews.review.isna()*1).sum())+' рецептов')
reviews.groupby('recipe_id')['rating'].mean()

отзывы отсутствуют для 17 рецептов

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [301]:
recipes.groupby(recipes.submitted.dt.year)['id'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [478]:
recipes_left = pd.concat([recipes.id, recipes.name], axis=1)
reviewes_right = pd.concat([reviews.recipe_id, reviews.user_id, reviews.rating, reviews.review], axis=1)

new_df = pd.merge(recipes_left, reviewes_right, left_on='id', right_on='recipe_id')
new_df.drop('recipe_id', axis=1, inplace=True)

new_df = new_df.dropna(axis=0)
new_df.drop('review', axis=1, inplace=True)

nan_id = reviews.recipe_id[reviews.review.isna()]

all(x in new_df.id for x in nan_id)

False

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [418]:
# new_reviews = reviews.review.fillna(0)

recipes_left = pd.concat([recipes.id, recipes.name], axis=1)
reviewes_right = pd.concat([reviews.recipe_id, reviews.review], axis=1)

new_df = pd.merge(recipes_left, reviewes_right, left_on='id', right_on='recipe_id')
new_df.drop('recipe_id', axis=1, inplace=True)

new_df.groupby('id')['review']

# new_df

h = reviews.review.str.len()
# h[h.index == 13806]

new_df[new_df.review.isna()]

            id                                               name review
13806   107786      beth s melt in your mouth barbecue ribs  oven    NaN
17294   335709                                 breaded pork chops    NaN
30956    15553                             clove and cinnamon tea    NaN
32840    86868                corned beef and cabbage in guinness    NaN
52165     3662                   german chocolate sauerkraut cake    NaN
67420    89207               kittencal s chocolate frosting icing    NaN
70385     9054                    leftover mashed potato pancakes    NaN
70392     9054                    leftover mashed potato pancakes    NaN
70422     9054                    leftover mashed potato pancakes    NaN
75469    25190  meal in a bowl   noodle soup   for 1 double fo...    NaN
82967   522925                           one banana bread muffins    NaN
113000  524744                              thanksgiving piecaken    NaN
113580  155430             the easiest  simplest vegan bread ever    NaN
119940  391660                      ultimate cream of tomato soup    NaN
121450  245231                           vegan spelt banana bread    NaN
122964  167202                    weight watchers chicken pot pie    NaN
125080  128956            ww 0 point weight watchers cabbage soup    NaN

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [448]:
year_rating = pd.concat([recipes.submitted.dt.year, reviews.rating], axis = 1).groupby('submitted')['rating'].mean()
min_rating = year_rating[year_rating == year_rating.min()]
min_rating

submitted
2017.0    4.051282
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3