# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
import numpy as np
import pandas as pd

In [3]:
sp500hst = pd.read_csv(
    './data/sp500hst.txt',
    names=['date', 'ticker', 'open', 'high', 'low', 'close', 'volume'],
    parse_dates=['date']
)
sp500hst

             date ticker   open     high     low  close  volume
0      2009-08-21      A  25.60  25.6100  25.220  25.55   34758
1      2009-08-24      A  25.64  25.7400  25.330  25.50   22247
2      2009-08-25      A  25.50  25.7000  25.225  25.34   30891
3      2009-08-26      A  25.32  25.6425  25.145  25.48   33334
4      2009-08-27      A  25.50  25.5700  25.230  25.54   70176
...           ...    ...    ...      ...     ...    ...     ...
122569 2010-08-13    ZMH  51.72  51.9000  51.380  51.44   14561
122570 2010-08-16    ZMH  51.13  51.4700  50.600  51.00   13489
122571 2010-08-17    ZMH  51.14  51.6000  50.890  51.21   20498
122572 2010-08-19    ZMH  51.63  51.6300  50.170  50.22   18259
122573 2010-08-20    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [12]:
print('среднее значение для столбца "high": '+str(sp500hst.high.mean()))
print('среднее значение для столбца "low": '+str(sp500hst.low.mean()))
print('среднее значение для столбца "close": '+str(sp500hst.close.mean()))
print('среднее значение для столбца "volume": '+str(sp500hst.volume.mean()))

среднее значение для столбца "high": 43.102243387667855
среднее значение для столбца "low": 42.05446366521448
среднее значение для столбца "close": 42.60186484817335
среднее значение для столбца "volume": 81395.06813843067

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [10]:
sp500hst.assign(month=sp500hst.date.dt.month)

             date ticker   open     high     low  close  volume  month
0      2009-08-21      A  25.60  25.6100  25.220  25.55   34758      8
1      2009-08-24      A  25.64  25.7400  25.330  25.50   22247      8
2      2009-08-25      A  25.50  25.7000  25.225  25.34   30891      8
3      2009-08-26      A  25.32  25.6425  25.145  25.48   33334      8
4      2009-08-27      A  25.50  25.5700  25.230  25.54   70176      8
...           ...    ...    ...      ...     ...    ...     ...    ...
122569 2010-08-13    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570 2010-08-16    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571 2010-08-17    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572 2010-08-19    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573 2010-08-20    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [13]:
sp500hst.groupby('ticker').volume.sum()

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [24]:
ticker_names = pd.read_csv(
    './data/sp_data2.csv',
    names=['ticker', 'name'],
    usecols=[0,1],
    sep=';',
    index_col=0
)

sp500hst.join(ticker_names, on='ticker', validate='m:1').fillna('no data')

,date,ticker,open,high,low,close,volume,name
0,2009-08-21,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies
1,2009-08-24,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies
2,2009-08-25,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies
3,2009-08-26,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies
4,2009-08-27,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies
...,...,...,...,...,...,...,...,...
122569,2010-08-13,ZMH,51.72,51.9000,51.380,51.44,14561,no data
122570,2010-08-16,ZMH,51.13,51.4700,50.600,51.00,13489,no data
122571,2010-08-17,ZMH,51.14,51.6000,50.890,51.21,20498,no data
122572,2010-08-19,ZMH,51.63,51.6300,50.170,50.22,18259,no data
122573,2010-08-20,ZMH,50.03,50.5500,49.480,49.82,17792,no data

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [26]:
recipes = pd.read_csv('./data/recipes_sample.csv', delimiter=',')
reviews = pd.read_csv('./data/reviews_sample.csv', delimiter=',', index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [288]:
pd.DataFrame(
    [[recipes.shape[0], recipes.shape[1], recipes.dtypes],
    [reviews.shape[0], reviews.shape[1], reviews.dtypes]], 
    columns=['rows', 'columns', 'dtype'], 
    index=['recipes', 'reviews'])

           rows  columns                                              dtype
recipes   30000        8  name               object
id                  ...
reviews  126696        5  user_id       int64
recipe_id     int64
date  ...

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [289]:
print('recipes\n')
print((recipes.isna()*1)[recipes.columns].sum()/len(recipes))
print('\nreviews\n')
print((reviews.isna()*1)[reviews.columns].sum()/len(reviews))

recipes

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64

reviews

user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [290]:
print('средняя оценка: '+str(reviews.rating.mean()))
print('среднее количество минут: '+str(recipes.minutes.mean()))
print('среднее количество шагов: '+str(recipes.n_steps.mean()))
print('среднее количество ингредиентов: '+str(recipes.n_ingredients.mean()))

средняя оценка: 4.410802235271832
среднее количество минут: 123.35813333333333
среднее количество шагов: 9.805582137161085
среднее количество ингредиентов: 9.008285984848484

1.5 Создайте серию из 10 случайных названий рецептов.

In [27]:
recipes.name[np.random.choice(len(recipes), 10, replace=False)]

14767                              italian tricolore salad
468                              all bran muffins or bread
19570                         oven beef and gravy  awesome
21852                            quick  n easy baked beans
600                            amalou  almond honey butter
26225                            substitute for buttermilk
5560                chicken and broccoli alfredo casserole
28287                                            tuzzi dip
18933                                          oat muffins
18747    no bake boiled chocolate fudge oatmeal cookies...
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [29]:
reviews.reset_index(inplace=True, drop=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [35]:
recipes[(recipes.minutes <= 20) & (recipes.n_ingredients <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [32]:
recipes.submitted = pd.to_datetime(recipes.submitted)
recipes.submitted

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [34]:
recipes[recipes.submitted.dt.year >= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [140]:
recipes = recipes.assign(description_length=recipes.description.str.len())
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [141]:
recipes.name = recipes.name.str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [142]:
recipes = recipes.assign(name_word_count=recipes.name.str.split().str.len())
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [41]:
recipes_amount = recipes.groupby('contributor_id')['id'].count()
recipes_amount[recipes_amount.max()==recipes_amount]

contributor_id
89831    421
Name: id, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [42]:
print('отзывы отсутствуют для '+str((reviews.review.isna()*1).sum())+' рецептов')
reviews.groupby('recipe_id')['rating'].mean()

отзывы отсутствуют для 17 рецептов

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [301]:
recipes.groupby(recipes.submitted.dt.year)['id'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [147]:
merged = pd.merge(recipes[['id', 'name']], reviews[['recipe_id', 'user_id', 'rating', 'review']], left_on='id', right_on='recipe_id')
print(merged)
recipes_without_reviews = recipes[~recipes.id.isin(reviews.recipe_id)]
print('Количество рецептов без отзыва присутствующих в объединенной таблице: ' +
       str(recipes_without_reviews.id.isin(merged.id).sum()))

            id                                    name  recipe_id  user_id  \
0        44123   George S At The Cove  Black Bean Soup      44123   743566
1        44123   George S At The Cove  Black Bean Soup      44123    76503
2        44123   George S At The Cove  Black Bean Soup      44123    34206
3        67664      Healthy For Them  Yogurt Popsicles      67664   494084
4        67664      Healthy For Them  Yogurt Popsicles      67664   303445
...        ...                                     ...        ...      ...
126691  486161                             Zydeco Soup     486161   305531
126692  486161                             Zydeco Soup     486161  1271506
126693  486161                             Zydeco Soup     486161   724631
126694  486161                             Zydeco Soup     486161   133174
126695  298512  Cookies By Design   Cookies On A Stick     298512   804234

        rating                                             review
0            5  I lived in San Diego for 19 years and  would g...
1            5  This soup is the Bomb! Don't hesitate to try.....
2            5  I just can't say enough about how wonderful th...
3            5  These are great!  I use 100% (organic) juice a...
4            5  Very, very good.  My son loves these.  He like...
...        ...                                                ...
126691       5  Delish! I made this as directed but used a smo...
126692       5  Now the only substitution I made was African B...
126693       5  Very tasty soup, moderate spiciness (even afte...
126694       5  Very yummy indeed.  A spicy sausage was used i...
126695       1  I would rate this a zero if I could. I followe...

[126696 rows x 6 columns]
Количество рецептов без отзыва присутствующих в объединенной таблице: 0

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [148]:
counts = (pd.merge(
       recipes[['id', 'name']], reviews[['recipe_id']],
       left_on='id', right_on='recipe_id', how='left'
).groupby(['id', 'name']).id.count() - 1).reset_index(name='counts')
print(counts)
recipes_without_reviews = recipes[~recipes.id.isin(reviews.recipe_id)]
print('Сумма подсчитанного количества отзывов у рецептов без отзыва: ' +
      str(counts[counts.id.isin(recipes_without_reviews.id)].counts.sum()))

           id                                        name  counts
0          48                            Boston Cream Pie       1
1          55  Betty Crocker S Southwestern Guacamole Dip       3
2          66                 Black Coffee Barbecue Sauce      17
3          91              Brown Rice And Vegetable Pilaf       3
4          94                       Blueberry Buttertarts       3
...       ...                                         ...     ...
29995  536547                         Cauliflower Ceviche       0
29996  536610               Miracle Home Made Puff Pastry       0
29997  536728                       Gluten Free  Vegemite       0
29998  536729                Creole Watermelon Feta Salad       3
29999  536747                          Lemon Pom Pom Cake       3

[30000 rows x 3 columns]
Сумма подсчитанного количества отзывов у рецептов без отзыва: 0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [133]:
year_rating = pd.concat([recipes.submitted.dt.year, reviews.rating], axis=1).groupby('submitted').rating.mean()
min_rating = year_rating[year_rating == year_rating.min()]
min_rating

submitted
2017.0    4.051282
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [145]:
recipes.sort_values('name_word_count', ascending=False).to_csv('./sorted_recipes.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [150]:
%pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 1.0 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1
WARNING: You are using pip version 21.2.4; however, version 23.0 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [151]:
with pd.ExcelWriter('recipes.xlsx') as writer:
    merged.to_excel(writer, 'Рецепты с оценками')
    counts.to_excel(writer, 'Количество отзывов по рецептам')

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3